export(Distributions)
export(dlnorm3)
export(dshiftnegbin)
export(dshiftpois)
export(dwrpnorm)
export(gen.Gamma)
export(HMM.plot)
export(HSMM.plot)
export(move.HMM.ACF)
export(move.HMM.Altman)
export(move.HMM.CI)
export(move.HMM.dwell.plot)
export(move.HMM.lalphabeta)
export(move.HMM.mle)
export(move.HMM.mllk)
export(move.HMM.mllk.full)
export(move.HMM.pn2pw)
export(move.HMM.psresid)
export(move.HMM.pw2pn)
export(move.HMM.simulate)
export(move.HMM.state_probs)
export(move.HMM.viterbi)
export(move.HSMM.ACF)
export(move.HSMM.Altman)
export(move.HSMM.CI)
export(move.HSMM.dwell.plot)
export(move.HSMM.lalphabeta)
export(move.HSMM.mle)
export(move.HSMM.mllk)
export(move.HSMM.mllk.full)
export(move.HSMM.pn2pw)
export(move.HSMM.psresid)
export(move.HSMM.pw2pn)
export(move.HSMM.simulate)
export(move.HSMM.state_probs)
export(move.HSMM.viterbi)
export(plnorm3)
export(pshiftnegbin)
export(pshiftpois)
export(pwrpcauchy)
export(pwrpnorm)
export(qlnorm3)
export(rlnorm3)
export(rshiftnegbin)
export(rshiftpois)
export(rwrpcauchy)
export(rwrpnorm)
S3method(coef,move.HMM)
S3method(coef,move.HSMM)
S3method(print,move.HMM)
S3method(print,move.HSMM)
S3method(simulate,move.HMM)
S3method(simulate,move.HSMM)
